@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

:root {
  --bg: #F9F8F3;
  --card: #FFFFFF;
  --border: #EBE8E1;

  --primary: #4A7C59;
  --primary-dark: #3B6447;
  --primary-soft: #EEF4F0;

  --text: #2D3732;
  --muted: #78867D;

  --shadow: 0 4px 20px rgba(74, 124, 89, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}